*{
  margin: 0;
}
body{
  background: lightpink;
}
#cabecera{
  width: auto;
  height: 100px;
  background: white;

}
#contenedor{
  background: lightblue;
  width: 900px;
  height: 700px;
  margin: auto;
}
.boletes{
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  text-align: center;
  float: left;
}
